# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env
.env.*

# Alembic
alembic/versions/*.pyc

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Google Cloud credentials
*.json
service-account-key/
service-account-key.json
gcp-key.json

# Environment variables
.env
.env.*
!.env.example 