fastapi
uvicorn[standard]
pydantic
python-dotenv

diffusers==0.25.0
torch==2.2.2
transformers
accelerate
safetensors
Pillow
numpy<2

huggingface_hub==0.23.0
sqlalchemy
asyncpg
psycopg2-binary
moviepy
imageio
imageio-ffmpeg
